.what-is-biojs-el:before {
    /*font-family: FontAwesome; */
    font-family: Glyphicons Halflings;
    width: 20px;
    display: inline-block;
}

.what-is-biojs-el {
    padding-bottom: 10px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.what-is-biojs-el pre {
    width: 250px;
}

.what-is-biojs-desc {
    font-size: "10px";
    padding-top: 5px;
    padding-left: 40px;
    font-style: italic;
}
#what-is-biojs-block {
    padding-top: 20px;
    padding-left: 20px;
}

.what-is-mobile{
    display:none;
}

@media (max-width: 650px) {
    .what-is-biojs-el {
        width: 100%;
    }
}
@media (min-width: 651px) {
    .what-is-biojs-el {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .what-is-biojs-el {
        width: 33.333%;
    }
}

/*
    Css for the BiVi banner
*/

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}