.what-is-biojs-el:before {
    /*font-family: FontAwesome; */
    font-family: Glyphicons Halflings;
    width: 20px;
    display: inline-block;
}

.what-is-biojs-el {
    padding-bottom: 10px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.what-is-biojs-el pre {
    width: 250px;
}

.what-is-biojs-desc {
    font-size: "10px";
    padding-top: 5px;
    padding-left: 40px;
    font-style: italic;
}
#what-is-biojs-block {
    padding-top: 20px;
    padding-left: 20px;
}

.what-is-mobile{
    display:none;
}

.main-logo,
.main-logo-title {
  display: inline-block;
}

.main-logo {
  position: relative;
  top: 15px;
}

.main-logo-title {
  margin: 0 15px;
}

.brand-logo {
  position: absolute;
  left: 30px;
}

.example-wrapper {
  height: 150px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.example-banderole {
  width: 120%;
  position: absolute;
  top: -15px;
  left: -15px;
  -webkit-transition: transform 0.1s linear;
  -moz-transition: transform 0.1s linear;
  -o-transition: transform 0.1s linear;
  -ms-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
}
.example-wrapper:before {
  box-shadow: 0 4px 8px 4px #333;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: -2px;
  position: absolute;
  z-index: 2;
}
.example-wrapper a {
  display: inline-block;
  border-radius: 50%;
  margin: 0.5% 2%;
  width: 6%;
  height: 90px;
  overflow: hidden;
  z-index: 1;
}
.example-wrapper a:nth-child(11n+0) {
  margin-right: 30px;
}
.example-wrapper a:nth-child(11n+1) {
  margin-left: 75px;
}

@media (max-width: 650px) {
    .what-is-biojs-el {
        width: 100%;
    }
}
@media (min-width: 651px) {
    .what-is-biojs-el {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .what-is-biojs-el {
        width: 33.333%;
    }
}
