.showcase {
    height: 150px !important;
    background-size:cover;
    width: auto;
}

@media(max-width:767px) {  
  .showcase {
      height: 100px !important;
  }
  #showcase-container .row h4 {
      font-size: 14px;
  }
}



#showcase_thumb-container .row{
    padding-top: 20px;
    padding-bottom: 10px;
}
