.showcase {
    height: 150px !important;
    background-size:cover;
    width: 100%;
}

@media(max-width:767px) {  
  .showcase {
      height: 100px !important;
  }
  #showcase-container .row h4 {
      font-size: 14px;
  }
}



#showcase-container .row{
    padding-top: 20px;
    padding-bottom: 10px;
}

.showcase-disp {
    background-image: url(../img/showcase/disp.png);
}

.showcase-disp2 {
    background-image: url(../img/showcase/disp2.png);
}

.showcase-expAtlas {
    background-image: url(../img/showcase/expAtlas.png);
}

.showcase-featViewer {
     background-image: url(../img/showcase/featViewer.png);
}

.showcase-hpasummary {
     background-image: url(../img/showcase/hpasummary.jpg);
}

.showcase-intbundle {
    background-image: url(../img/showcase/intbundle.png);
}

.showcase-intd3 {
    background-image: url(../img/showcase/intd3.png);
}

.showcase-kegg {
    background-image: url(../img/showcase/kegg.png);
}

.showcase-protport {
     background-image: url(../img/showcase/protport.png);
}

