.showcase {
    height: 150px !important;
    background-size:cover;
    width: 100%;
}

@media(max-width:767px) {  
  .showcase {
      height: 100px !important;
  }
  #showcase-container .row h4 {
      font-size: 14px;
  }
}



#showcase_thumb-container .row{
    padding-top: 20px;
    padding-bottom: 10px;
}

.showcase-disp {
    background-image: url(../img/showcase_thumb/disp.jpg);
}

.showcase-disp2 {
    background-image: url(../img/showcase_thumb/disp2.jpg);
}

.showcase-expAtlas {
    background-image: url(../img/showcase_thumb/expAtlas.jpg);
}

.showcase-featViewer {
     background-image: url(../img/showcase_thumb/featViewer.jpg);
}

.showcase-hpasummary {
     background-image: url(../img/showcase_thumb/hpasummary.jpg);
}

.showcase-intbundle {
    background-image: url(../img/showcase_thumb/intbundle.jpg);
}

.showcase-intd3 {
    background-image: url(../img/showcase_thumb/intd3.jpg);
}

.showcase-kegg {
    background-image: url(../img/showcase_thumb/kegg.jpg);
}

.showcase-protport {
     background-image: url(../img/showcase_thumb/protport.jpg);
}

