.speedbuttons .col-md-3{
    padding-bottom: 10px;
}

.sites-using-biojs a{ 
    color: grey;
}

.sites-using-biojs div{ 
    text-align:center;
    vertical-align: bottom;
    margin: 0 auto;
}

#sites-using-biojs1 {
    font-size: 38px;
    font-family: 'Indie Flower', cursive;
}

#sites-using-biojs2 {
    font-size: 34px;
    font-family: 'Poiret One', cursive;
}

#sites-using-biojs3 {
    font-size: 34px;
    font-family: 'Lora', serif;
}

#sites-using-biojs4 {
    font-size: 34px;
    font-family: 'Chelsea Market', cursive;
}


.sites-using-biojs a:hover{ 
    text-decoration: none;
}

#services-appear-here a {
    text-decoration: none;
    color: black;
}

#services-appear-here {
    float: right;
    font-size: 10px;
}


.contributors-img {
    background-repeat: no-repeat;
    background-size:   contain; 
    background-position:center; 
    height: 65px;
    max-width: 250px;
    text-align: center;
}

#contributors .row div  {
    filter: url(../img/usedby_thumb/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    padding-bottom: 15px;
}

#contributors .row div:hover {
    filter: none;
    -webkit-filter: none;
}


#contributors-rostlab{
    background-image: url(../img/usedby_thumb/rostlab.jpg);
}

#contributors-ssi{
    background-image: url(../img/usedby_thumb/ssi.jpg);
}

#contributors-embl-ebi{
    background-image: url(../img/usedby_thumb/embl-ebi.jpg);
}

#contributors-elife{
    background-image: url(../img/usedby_thumb/elife.gif);
}

#contributors-tgac{
    background-image: url(../img/usedby_thumb/tgac.jpg);
}

#contributors-intermine{
    background-image: url(../img/usedby_thumb/intermine.jpg);
}

#contributors-apinatomy{
    background-image: url(../img/usedby_thumb/apinatomy.jpg);
}

#contributors-bionode{
    background-image: url(../img/usedby_thumb/bionode.jpg);
}

#contributors-berkeley-lab{
    background-image: url(../img/usedby_thumb/berkeley_lab.jpg);
}

#contributors-mpimg{
    background-image: url(../img/usedby_thumb/mpimpg.jpg);
}

#contributors-mpi-biochem{
    background-image: url(../img/usedby_thumb/mpi_biochem.jpg);
}

#contributors-openphacts{
    background-image: url(../img/usedby_thumb/openphacts.jpg);
}

#contributors-openvis{
    background-image: url(../img/usedby_thumb/openvis.jpg);
}

#contributors-cath-ucl {
    background-image: url(../img/usedby_thumb/ucl_logo_standalone.jpg);
}

#contributors-carousel .item {
    text-align: center;
}

