.biojs-green {
  background-color: #116611; }

.biojs-green-text {
  color: #116611; }

.biojs-light-green {
  background-color: #04E824; }

.biojs-light-green-text {
  color: #04E824; }

.biojs-white {
  background-color: #FFFFFC; }

.biojs-white-text {
  color: #FFFFFC; }

.biojs-black {
  background-color: #072212; }

.biojs-black-text {
  color: #072212; }

.biojs-pink {
  background-color: #EF2D56; }

.biojs-pink-text {
  color: #EF2D56; }

body {
  background-color: #FFFFFC;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

footer.page-footer {
  background-color: #116611; }

/* IE10+ fix to circumvent poorly supported flexbox features */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body, main {
    display: block;
    min-height: auto; } }
main {
  flex: 1 0 auto; }

p.signal {
  font-size: 1.2em; }

a[href] {
  color: #EF2D56; }
  a[href].btn, a[href].btn-large {
    color: #FFFFFC; }
  a[href].biojs-light-green-text {
    color: #04E824; }
  a[href].biojs-black-text {
    color: #072212; }
  a[href].biojs-white-text {
    color: #FFFFFC; }
  a[href].biojs-green-text {
    color: #116611; }

.nav-wrapper a {
  color: #FFFFFC; }
.nav-wrapper .side-nav a {
  color: #072212; }

.github-icon.large {
  width: 50%;
  height: 50%;
  fill: #FFFFFC; }

.ratings .rating-item {
  position: relative;
  width: 25px;
  display: inline-block; }
  .ratings .rating-item .full-item {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%; }

.brand-logo {
  position: absolute;
  display: inline-block;
  left: 15px;
  top: 8px; }

.main-logo-title {
  color: #FFFFFC;
  display: inline-block;
  position: absolute;
  left: 60px;
  line-height: 1.6; }

.tag-brandpage h1 {
  font-size: 3.2em; }

.link-icon {
  position: relative;
  top: 2px; }

.post-title a {
  -webkit-transition: color 0.2 ease-in;
  -moz-transition: color 0.2 ease-in;
  -ms-transition: color 0.2 ease-in;
  -o-transition: color 0.2 ease-in;
  transition: color 0.2 ease-in; }
  .post-title a:hover {
    color: #EF2D56; }

.post-meta a {
  color: #EF2D56; }

@media (min-width: 768px) {
  .carousel-item.large {
    width: 450px; } }
.gallery-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 120%; }
  .gallery-wrapper .gallery-content {
    padding: 0;
    height: 100%;
    width: 120%; }

/* Buttons */
.btn.action, .btn-large.action {
  text-transform: uppercase;
  color: #FFFFFC;
  background-color: #EF2D56; }
.btn.weak-action, .btn-large.weak-action {
  text-transform: uppercase;
  color: #FFFFFC;
  background-color: #072212; }

/* Parallax */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }
  .parallax-container p, .parallax-container a {
    line-height: 1.5; }
    .parallax-container p.btn, .parallax-container p.btn-large, .parallax-container a.btn, .parallax-container a.btn-large {
      line-height: 2.4; }

.parallax-container .section {
  width: 100%; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }

  #index-banner .section {
    top: 10%; } }
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }
.main-header.news {
  background-repeat: no-repeat;
  background-position: right -60px;
  background-attachment: scroll;
  background-image: url("/assets/img/biojslogo.png");
  -webkit-filter: contrast(80%);
  -moz-filter: contrast(80%);
  -ms-filter: contrast(80%);
  -o-filter: contrast(80%);
  filter: contrast(80%); }
  .main-header.news .container {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none; }

.card-title.activator .right {
  float: none;
  position: absolute;
  right: 15px; }

.gsoc .card-content {
  min-height: 140px; }
  .gsoc .card-content.biojs-pink-text {
    color: #EF2D56; }
.gsoc .collapsible-body ul {
  margin-left: 3em;
  margin-bottom: 1.5em; }
  .gsoc .collapsible-body ul li {
    list-style-type: square; }
.gsoc .collapsible-body h1, .gsoc .collapsible-body h2, .gsoc .collapsible-body h3, .gsoc .collapsible-body h4, .gsoc .collapsible-body h5 {
  margin-left: 0.5em; }

.parallax video {
  position: relative;
  bottom: 200px; }

.news-banderole {
  position: absolute;
  z-index: 3; }

.header-section {
  background-image: url("/assets/img/landscapes/typing.jpg");
  position: relative;
  height: 80vh; }

.example-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative; }

.example-banderole {
  width: 120%;
  position: absolute;
  top: -15px;
  left: -15px;
  -webkit-transition: transform 0.1s linear;
  -moz-transition: transform 0.1s linear;
  -o-transition: transform 0.1s linear;
  -ms-transition: transform 0.1s linear;
  transition: transform 0.1s linear; }

.example-wrapper:before {
  box-shadow: 0 4px 8px 4px #333;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: -2px;
  position: absolute;
  z-index: 2; }

.example-wrapper a {
  display: inline-block;
  border-radius: 50%;
  margin: 0.5% 2%;
  width: 90px;
  height: 90px;
  overflow: hidden;
  z-index: 1; }

.example-banderole:before {
  content: '';
  float: left;
  width: 45px;
  height: 9999px;
  -webkit-shape-outside: polygon(0px 90px, 45px 90px, 45px 300px, 0 300px, 0px 450px, 45px 450px, 45px 600px, 0px 600px);
  shape-outside: polygon(0px 90px, 45px 90px, 45px 300px, 0 300px, 0px 450px, 45px 450px, 45px 600px, 0px 600px); }

.bg-section.js-benefit {
  background-image: url("/assets/img/landscapes/typing2-blend@1x.png");
  background-position: right 0; }
.bg-section:nth-child(4) {
  background-image: url("http://placebear.com/g/2200/500"); }
.bg-section .shade {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 44, 44, 0.7);
  height: 500px;
  width: 100%; }

.bg-section .shade + .container {
  position: relative; }

@media (max-width: 650px) {
  .what-is-biojs-el {
    width: 100%; } }
@media (min-width: 651px) {
  .what-is-biojs-el {
    width: 50%; } }
@media (min-width: 1200px) {
  .what-is-biojs-el {
    width: 33.333%; } }
/*!
 * GitHub Activity Stream - v0.1.4 - 10/7/2015
 * https://github.com/caseyscarborough/github-activity
 *
 * Copyright (c) 2015 Casey Scarborough
 * MIT License
 * http://opensource.org/licenses/MIT
 */
.gha-feed {
  width: 100%;
  height: 100%;
  background: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.3;
  overflow-y: auto;
  box-shadow: 2px 2px 2px 2px #072212; }

.gha-feed, .gha-feed h2, .gha-feed h3, .gha-feed p, .gha-feed ul, .gha-feed li {
  margin: 0;
  padding: 0; }

.gha-feed ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.gha-feed li {
  list-style-type: none;
  line-height: 1.4; }

.gha-feed small {
  color: #666;
  font-weight: normal;
  font-size: 13px; }

.gha-feed small a {
  font-weight: normal; }

.gha-feed small a .more-commits {
  font-size: 11px; }

span.gha-time {
  color: #bbb;
  font-weight: normal;
  font-size: 12px; }

.gha-feed a {
  color: #4183c4;
  text-decoration: none;
  font-weight: bold; }

.gha-feed a:hover {
  text-decoration: underline; }

.gha-feed pre {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 4px #bbb;
  color: white; }

.gha-header {
  color: #FFFFFC;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 15px);
  padding: 5px 10px 10px;
  height: 67px;
  border-bottom: 1px solid #666;
  background: #04E824;
  overflow: hidden; }

.gha-footer {
  color: #FFFFFC;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 5px 25px;
  border-top: 1px solid #ddd;
  height: 16px;
  width: calc(100% - 15px);
  background: #072212;
  color: #495961;
  font-size: 13px;
  padding-left: 10px; }

.gha-footer a {
  float: right;
  color: #495961;
  padding-right: 20px;
  font-size: 13px;
  font-weight: bold; }

.gha-footer a:hover {
  text-decoration: none; }

.gha-header a:hover {
  text-decoration: none; }

.gha-github-icon {
  display: inline;
  float: left;
  padding: 9px 0 0;
  width: 35px;
  height: 35px;
  color: #495961; }

.gha-github-icon .octicon {
  color: #FFFFFC;
  font: normal normal 40px octicons; }

.gha-gravatar {
  display: inline;
  float: right;
  margin-right: 10px;
  max-width: 60px;
  height: 60px; }

.gha-gravatar img {
  padding: 3px;
  width: 100%; }

.gha-activity {
  clear: both;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ddd; }

.gha-activity.gha-small {
  margin-top: 5px;
  font-weight: normal;
  font-size: 13px; }

.gha-activity.gha-small a {
  font-weight: normal; }

.gha-activity.gha-small .gha-message {
  float: left;
  width: auto;
  margin-right: 5px;
  margin-top: 5px; }

.gha-activity.gha-small span {
  font-size: 16px; }

.gha-activity.gha-small .gha-time {
  float: left;
  margin-top: 6px; }

.gha-activity:last-child {
  padding-bottom: 100px; }

.gha-repo {
  clear: both;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ddd; }

.gha-activity-icon .octicon {
  display: inline;
  float: left;
  clear: both;
  margin: 6px auto;
  width: 50px;
  color: #bbb;
  text-align: center;
  font: normal normal 30px octicons; }

.gha-activity-icon .gha-small {
  font-size: 16px; }

.gha-message {
  display: inline-block;
  float: left;
  width: calc(100% - 50px); }

.gha-message-commits {
  font-size: 11px; }

.gha-message-merge {
  padding: 3px 7px;
  border-radius: 3px;
  background: #e8f1f6;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 2.0; }

.gha-sha {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

.gha-gravatar-small {
  float: left;
  margin-right: 6px;
  width: 30px; }

.gha-gravatar-commit {
  margin-bottom: -3px;
  border-radius: 2px; }

.gha-gravatar-user {
  float: left; }

.gha-user-info {
  display: inline-block;
  float: left;
  margin: 0 auto;
  padding: 10px 15px 8px;
  font-size: 18px; }
  .gha-user-info a, .gha-user-info p {
    color: #FFFFFC;
    font-weight: 100; }

.gha-without-name {
  padding-top: 20px;
  padding-left: 15px; }

.gha-info {
  margin: 15px;
  padding: 10px;
  border: 1px solid #e4e4c6;
  border-radius: 4px;
  background: #ffffde;
  color: #6d6d4b;
  font-weight: normal;
  font-size: 13px; }

.gha-time {
  color: #bbb;
  font-weight: normal;
  font-size: 12px; }

.gha-clear {
  clear: both; }

.gha-muted {
  color: #666; }

.gha-push {
  height: 87px; }

.gha-push-small {
  height: 26px; }

/* Helpers */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

h1 {
  font-size: 3.6em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2em; }

.mt-0 {
  margin-top: 0em; }

.mb-0 {
  margin-bottom: 0em; }

.pt-0 {
  padding-top: 0em; }

.pb-0 {
  padding-bottom: 0em; }

.mv-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.height-0x {
  height: 0vh; }

.height-fix-0x {
  height: 0em; }

.mt-1 {
  margin-top: 1.5em; }

.mb-1 {
  margin-bottom: 1.5em; }

.pt-1 {
  padding-top: 1.5em; }

.pb-1 {
  padding-bottom: 1.5em; }

.mv-1 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.height-1x {
  height: 10vh; }

.height-fix-1x {
  height: 10em; }

.mt-2 {
  margin-top: 3em; }

.mb-2 {
  margin-bottom: 3em; }

.pt-2 {
  padding-top: 3em; }

.pb-2 {
  padding-bottom: 3em; }

.mv-2 {
  margin-left: 3rem;
  margin-right: 3rem; }

.height-2x {
  height: 20vh; }

.height-fix-2x {
  height: 20em; }

.mt-3 {
  margin-top: 4.5em; }

.mb-3 {
  margin-bottom: 4.5em; }

.pt-3 {
  padding-top: 4.5em; }

.pb-3 {
  padding-bottom: 4.5em; }

.mv-3 {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.height-3x {
  height: 30vh; }

.height-fix-3x {
  height: 30em; }

.mt-4 {
  margin-top: 6em; }

.mb-4 {
  margin-bottom: 6em; }

.pt-4 {
  padding-top: 6em; }

.pb-4 {
  padding-bottom: 6em; }

.mv-4 {
  margin-left: 6rem;
  margin-right: 6rem; }

.height-4x {
  height: 40vh; }

.height-fix-4x {
  height: 40em; }

.mt-5 {
  margin-top: 7.5em; }

.mb-5 {
  margin-bottom: 7.5em; }

.pt-5 {
  padding-top: 7.5em; }

.pb-5 {
  padding-bottom: 7.5em; }

.mv-5 {
  margin-left: 7.5rem;
  margin-right: 7.5rem; }

.height-5x {
  height: 50vh; }

.height-fix-5x {
  height: 50em; }

.mt-6 {
  margin-top: 9em; }

.mb-6 {
  margin-bottom: 9em; }

.pt-6 {
  padding-top: 9em; }

.pb-6 {
  padding-bottom: 9em; }

.mv-6 {
  margin-left: 9rem;
  margin-right: 9rem; }

.height-6x {
  height: 60vh; }

.height-fix-6x {
  height: 60em; }

.mt-7 {
  margin-top: 10.5em; }

.mb-7 {
  margin-bottom: 10.5em; }

.pt-7 {
  padding-top: 10.5em; }

.pb-7 {
  padding-bottom: 10.5em; }

.mv-7 {
  margin-left: 10.5rem;
  margin-right: 10.5rem; }

.height-7x {
  height: 70vh; }

.height-fix-7x {
  height: 70em; }

.mt-8 {
  margin-top: 12em; }

.mb-8 {
  margin-bottom: 12em; }

.pt-8 {
  padding-top: 12em; }

.pb-8 {
  padding-bottom: 12em; }

.mv-8 {
  margin-left: 12rem;
  margin-right: 12rem; }

.height-8x {
  height: 80vh; }

.height-fix-8x {
  height: 80em; }

.mt-9 {
  margin-top: 13.5em; }

.mb-9 {
  margin-bottom: 13.5em; }

.pt-9 {
  padding-top: 13.5em; }

.pb-9 {
  padding-bottom: 13.5em; }

.mv-9 {
  margin-left: 13.5rem;
  margin-right: 13.5rem; }

.height-9x {
  height: 90vh; }

.height-fix-9x {
  height: 90em; }

.mt-10 {
  margin-top: 15em; }

.mb-10 {
  margin-bottom: 15em; }

.pt-10 {
  padding-top: 15em; }

.pb-10 {
  padding-bottom: 15em; }

.mv-10 {
  margin-left: 15rem;
  margin-right: 15rem; }

.height-10x {
  height: 100vh; }

.height-fix-10x {
  height: 100em; }

.mt-11 {
  margin-top: 16.5em; }

.mb-11 {
  margin-bottom: 16.5em; }

.pt-11 {
  padding-top: 16.5em; }

.pb-11 {
  padding-bottom: 16.5em; }

.mv-11 {
  margin-left: 16.5rem;
  margin-right: 16.5rem; }

.height-11x {
  height: 110vh; }

.height-fix-11x {
  height: 110em; }

.mt-12 {
  margin-top: 18em; }

.mb-12 {
  margin-bottom: 18em; }

.pt-12 {
  padding-top: 18em; }

.pb-12 {
  padding-bottom: 18em; }

.mv-12 {
  margin-left: 18rem;
  margin-right: 18rem; }

.height-12x {
  height: 120vh; }

.height-fix-12x {
  height: 120em; }

/* Brandpage */
.tag-brandpage h1 {
  font-size: 3.2em; }

/*Helpers*/
.uppercase {
  text-transform: uppercase; }

.dropshadow {
  box-shadow: 2px 2px 2px 2px #333; }

.insetshadow {
  box-shadow: inset 0px 2px 10px 2px #333; }

.blunt-end {
  margin-bottom: 0; }

.signal {
  font-size: 1.6em; }

.bg-section {
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  min-height: 500px; }

.bg-right {
  background-position: right 0; }

.bg-left {
  background-position: left 0; }

.bg-center {
  background-position: center center; }

.bg-cover {
  background-size: cover; }

.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.75; }

.relative {
  position: relative; }

.text-shadow {
  text-shadow: 2px 2px 3px #072212; }
  .text-shadow.light {
    text-shadow: 2px 2px 3px #FFFFFC; }

.hiding-frame {
  overflow: hidden; }

.row .col.fill {
  padding-left: 0;
  padding-right: 0; }

.fill {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
