---
layout: default
title: BioJS - An open source library of JavaScript components to represent biological data
extra_css:
- css/showcase.css
- css/used_by.css
- css/frontpage.css
- css/latest-packages.css
- //fonts.googleapis.com/css?family=Lora
- //fonts.googleapis.com/css?family=Poiret+One
- //fonts.googleapis.com/css?family=Indie+Flower 
- //fonts.googleapis.com/css?family=Chelsea+Market 
- //cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css
- //caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.css
extra_js:
- js/latest-packages.js
- //cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js
---



<div class="container">
	<h1 id="main-heading">Represent biological data on the web.</h1>
	<!--	<h2>We are building the tools to make that happen.</h2> -->
	<div class="row" id="qkeywords">
		<div class="col-md-3">
			<h3> <span class="glyphicon glyphicon-heart"></span> beautiful</h3>
			You have already done a great job - now we do our best to create the visibility your efforts deserve and give you an unique way to share your achievements.
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<h3> <span class="glyphicon glyphicon-fire"></span> interactive	</h3>
			Using state-of-the-art web technologies BioJS enables a full-featured biological workbench directly in your browser. With our event-based approach it's easy for developers to integrate BioJS in their application.
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<h3> <span class="glyphicon glyphicon-repeat"></span> reusable</h3>
			Unlike writing your own JS components, and unnecessarily reinventing the wheel, BioJS gives you access to fully-documented code, complete with examples and a common structure.
		</div>
	</div>
	<div class="row speedbuttons">
		<!--
	  <div class="col-md-3 col-xs-6">
	  <a href="https://github.com/biojs/biojs/releases" class="btn btn-default btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-download-alt"></span> Download BioJS 0.1</a>
	  </div>
		-->

		<div class="col-md-3 col-xs-6">
			<a href="get_involved.html" class="btn btn-default btn-success btn-lg btn-block" id="btn-get-involved"><span class="glyphicon glyphicon-user"></span> Get involved</a>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="http://edu.biojs.net" class="btn btn-default btn-warning btn-lg btn-block"><span class="glyphicon glyphicon-plane"></span> Tutorials</a>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="http://biojs.io" class="btn btn-default btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-download-alt"></span> Registry </a>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="https://github.com/biojs/biojs/issues/new" class="btn btn-info btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-tag"></span> Submit an idea </a>
		</div>

	</div>


	<!--
	<div class="alert alert-info">

		<a href="#" class="close" data-dismiss="alert">&times;</a>

		<span class="glyphicon glyphicon-bullhorn" style="font-size:22px"></span> &nbsp;
		<strong>BioJS 2.0</strong> is coming soon. Start experimenting with the <a href="http://github.com/biojs/biojs">new</a>, cool stuff. <a href="https://groups.google.com/forum/#!topic/biojs/vQbQ_yycncY">More</a> information.

	</div>
	-->

	<div class="row">
		<div class="col-md-3 col-xs-6">
			<iframe src="http://ghbtns.com/github-btn.html?user=biojs&repo=biojs&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
		</div>
		<div class="col-md-3 col-xs-6">
			<iframe src="http://ghbtns.com/github-btn.html?user=biojs&repo=biojs&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="https://twitter.com/BioJSLibrary" class="twitter-follow-button"  data-show-screen-name="false"  data-show-count="true" data-lang="en" data-size="large">Follow @biojs</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="col-md-3 col-xs-6">
			<script src="https://apis.google.com/js/platform.js" async defer></script>
			<div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/117617419426441799241" data-rel="publisher"></div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div id="biojs-news" class="col-md-6 col-xs-12">
				<h3>News</h3>
				<ul class="posts">
					{% for post in site.posts | limit: 5%}
					<li><a href="{{ post.url }}">{{ post.title }}</a>, <span>{{ post.date | date_to_string }}</span> </li>
					{% endfor %}
				</ul>
				See the news <a href="/news.html">archive</a>
			</div>
			<div id="biojs-new-packages" class="col-md-6 col-xs-12">
				<h3>Recently updated packages</h3>
				<div id="biojs-new-packages-recent"></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div id="biojs-new-packages" class="col-md-6 col-xs-12">
				<h3>Popular packages </h3>
				<div id="biojs-new-packages-popular"></div>
			</div>
			<div id="biojs-new-packages" class="col-md-6 col-xs-12">
				<h3>Trending (this week)</h3>
				<div id="biojs-new-packages-reused"></div>
			</div>
		</div>
	</div>

	<div id="biojs-what-is">
		<h3>What is BioJS?</h3>

		BioJS builds a infrastructure, guidelines and tools to avoid the reinvention of the wheel in life sciences (= "Docker for Bio web components"). Our community builds modules than can be reused by anyone.

		<div id="what-is-biojs-block" class="row">
			<div class="what-is-biojs-el  glyphicon-link" id="easy-to-combine">
				Easy to <a href="http://edu.biojs.net/series/101/22_headstart.html"><b>combine</b></a>
				<div class="what-is-biojs-desc">
					<pre>require('biojs-io-clustal')</pre>
				</div>
				<div class="what-is-mobile clearfix"></div>
			</div>
			<div class="what-is-biojs-el  glyphicon-play" id="easy-to-use">
				Easy to <a href="https://github.com/biojs/biojs#34-how-do-i-use-a-package"><b>use</b></a>
				<div class="what-is-biojs-desc">
					<pre>npm install biojs-io-clustal</pre>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-screenshot" id="easy-to-test">
				Easy to <b>test</b>
				<div class="what-is-biojs-desc">
					<pre>npm test</pre>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-fire" id="easy-to-develop">
				Easy to <a href="http://edu.biojs.net/series/102/70_gold_standard.html"><b>develop</b></a>
				<div class="what-is-biojs-desc">
					Only conventions - use your favorite tools.
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-search" id="easy-to-discover">
				Easy to <a href="http://biojs.io"><b>discover</b></a>
				<div class="what-is-biojs-desc">
					<a href="http://biojs.io">biojs.io</a>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-home" id="easy-to-understand">
				Easy to <a href="http://edu.biojs.net"><b>understand</b></a>
				<div class="what-is-biojs-desc">
					<a href="http://edu.biojs.net">education.biojs.net</a>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-wrench" id="easy-to-maintain">
				Easy to <b>maintain</b>
				<div class="what-is-biojs-desc">
					distributed github repositories
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-user" id="easy-to-community">
				Easy to <a href="/get_involved.html"><b>get involved</b></a>
				<div class="what-is-biojs-desc">
					Social open source community on github
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-asterisk" id="easy-to-start">
				Easy to <a href="http://edu.biojs.net/series/101/30_package_basics.html"><b>start</b></a>
				<div class="what-is-biojs-desc">
					<pre>npm install -g slush-biojs</pre>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="container" id="showcase-container">
	<div class="row">


		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/exelixis" class="thumbnail" target="_blank">
				<img class="showcase" alt="Tree" src="./img/showcase_thumb/tnt.jpg">
				<div class="caption">
					<h4 style="text-align:center">Tree Viewer </h4>
				</div>
			</a>
		</div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/biojs-vis-msa" class="thumbnail" target="_blank">
				<img class="showcase" alt="MSA" src="./img/showcase_thumb/msa.jpg">
				<div class="caption">
					<h4 style="text-align:center">MSA viewer </h4>
				</div>
			</a>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/biojs-vis-proteome" class="thumbnail" target="_blank">
				<img class="showcase" alt="Proteome" src="./img/showcase_thumb/proteome.jpg">
				<div class="caption">
					<h4 style="text-align:center">Proteome </h4>
				</div>
			</a>
		</div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/bio-pv" class="thumbnail" target="_blank">
				<img class="showcase" alt="3D" src="./img/showcase_thumb/bio-pv.jpg">
				<div class="caption">
					<h4 style="text-align:center">3D structures</h4>
				</div>
			</a>
		</div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/drawrnajs" class="thumbnail" target="_blank">
				<img class="showcase" alt="Drawrna" src="./img/showcase_thumb/drawrna.jpg">
				<div class="caption">
					<h4 style="text-align:center">Dot-bracket<h4>
				</div>
			</a>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/muts-needle-plot" class="thumbnail" target="_blank">
				<img class="showcase" alt="Muts-plot" src="./img/showcase_thumb/muts-plot.jpg">
				<div class="caption">
					<h4 style="text-align:center">Muts-needle plot</h4>
				</div>
			</a>
		</div>


		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/biojs-vis-feature" class="thumbnail" target="_blank">
				<img class="showcase" alt="Feature" src="./img/showcase_thumb/featViewer.jpg">
				<div class="caption">
					<h4 style="text-align:center">Das Protein Feature Viewer</h4>
				</div>
			</a>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/angularplasmid" class="thumbnail" target="_blank">
				<img class="showcase" alt="Plasmids" src="./img/showcase_thumb/plasmid.jpg">
				<div class="caption">
					<h4 style="text-align:center">Plasmids</h4>
				</div>
			</a>
		</div>



		<div class="showbox col-md-4 col-xs-6">
			<a href="http://biojs.io/d/biojs-pcviz" class="thumbnail" target="_blank">
				<img class="showcase" alt="Pathway visualization" src="./img/showcase_thumb/pcviz.jpg">
				<div class="caption">
					<h4 style="text-align:center">Pathway visualization</h4>
				</div>
			</a>
		</div>




	</div>

	<h3> Services using BioJS </h3>
	<div class="row sites-using-biojs">
		<div class="col-md-3" id="sites-using-biojs4">
			<a href="http://www.predictprotein.org" target="_blank">PredictProtein</a>
		</div>
		<div class="col-md-3" id="sites-using-biojs2">
			<a href="http://www.ebi.ac.uk/gxa/home" target="_blank">Expression Atlas</a>
		</div>
		<div class="col-md-3" id="sites-using-biojs1">
			<a href="http://biomodels.net" target="_blank">BioModels</a>
		</div>
		<div class="col-md-3" id="sites-using-biojs3">
			<a href="http://www.ebi.ac.uk/metabolights/" target="_blank" >MetaboLights</a>
		</div>
	</div>
	<div id="services-appear-here"><a href="http://groups.google.com/forum/#!forum/biojs">Using BioJS and want to appear here? </a></div>


	<!-- end awesome bootstrap carousel -->
	<h3 id="heading-get-involved">Get involved</h3>
	{% include get_involved_icons.html %}


	<!-- github activity stream: https://github.com/caseyscarborough/github-activity -->
	<!-- PROBLEM: github API only allows 50 requests per IP per hour -->

	<h3 id="heading-github-activity">Github activity</h3>
	<div id=feed style="height:300px; margin-top:20px; margin-bottom: 40px"></div>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
	<script type="text/javascript" src="//caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.js"></script>
	<script>
GitHubActivity.feed({ username: "biojs", selector: "#feed" });
	</script>

</div>
