---
layout: default
title: BioJS - An open source library of JavaScript components to represent biological data
extra_css:
- css/showcase.css
- css/used_by.css
- css/frontpage.css
- //fonts.googleapis.com/css?family=Lora
- //fonts.googleapis.com/css?family=Poiret+One
- //fonts.googleapis.com/css?family=Indie+Flower 
- //fonts.googleapis.com/css?family=Chelsea+Market 
- //cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css
- //caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.css
---



<div class="container">
	<h1 id="main-heading">Represent biological data on the web.</h1>
	<!--	<h2>We are building the tools to make that happen.</h2> -->
	<div class="row" id="qkeywords">
		<div class="col-md-3">
			<h3> <span class="glyphicon glyphicon-heart"></span> beautiful</h3>
			You have already done a great job - now we do our best to create the visibility your efforts deserve and give you an unique way to share your achievements.
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<h3> <span class="glyphicon glyphicon-fire"></span> interactive	</h3>
			Using state-of-the-art web technologies BioJS enables a full-featured biological workbench directly in your browser. With our event-based approach it's easy for developers to integrate BioJS in their application.
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<h3> <span class="glyphicon glyphicon-repeat"></span> reusable</h3>
			Unlike writing your own JS components, and unnecessarily reinventing the wheel, BioJS gives you access to fully-documented code, complete with examples and a common structure.
		</div>
	</div>
	<div class="row speedbuttons">
		<!--
	  <div class="col-md-3 col-xs-6">
	  <a href="https://github.com/biojs/biojs/releases" class="btn btn-default btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-download-alt"></span> Download BioJS 0.1</a>
	  </div>
		-->

		<div class="col-md-3 col-xs-6">
			<a href="get_involved.html" class="btn btn-default btn-success btn-lg btn-block" id="btn-get-involved"><span class="glyphicon glyphicon-user"></span> Get involved</a>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="http://edu.biojs.net" class="btn btn-default btn-warning btn-lg btn-block"><span class="glyphicon glyphicon-plane"></span> Tutorials</a>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="http://registry.biojs.net" class="btn btn-default btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-download-alt"></span> Registry (v2.0)</a>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="https://www.ebi.ac.uk/Tools/biojs/registry/" class="btn btn-info btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-tag"></span> Registry (v0.1)</a>
		</div>

	</div>



	<div class="alert alert-info">

		<a href="#" class="close" data-dismiss="alert">&times;</a>

		<span class="glyphicon glyphicon-bullhorn" style="font-size:22px"></span> &nbsp;
		<strong>BioJS 2.0</strong> is coming soon. Start experimenting with the <a href="http://github.com/biojs/biojs">new</a>, cool stuff. <a href="https://groups.google.com/forum/#!topic/biojs/vQbQ_yycncY">More</a> information.

	</div>

	<div class="row">
		<div class="col-md-3 col-xs-6">
			<iframe src="http://ghbtns.com/github-btn.html?user=biojs&repo=biojs&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
		</div>
		<div class="col-md-3 col-xs-6">
			<iframe src="http://ghbtns.com/github-btn.html?user=biojs&repo=biojs&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
		</div>
		<div class="col-md-3 col-xs-6">
			<a href="https://twitter.com/BioJSLibrary" class="twitter-follow-button"  data-show-screen-name="false"  data-show-count="true" data-lang="en" data-size="large">Follow @biojs</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="col-md-3 col-xs-6">
			<script src="https://apis.google.com/js/platform.js" async defer></script>
			<div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/117617419426441799241" data-rel="publisher"></div>
		</div>
	</div>

	<div id="biojs-news">
		<h3>News</h3>
		<ul class="posts">
			{% for post in site.posts %}
			<li><a href="{{ post.url }}">{{ post.title }}</a>, <span>{{ post.date | date_to_string }}</span> </li>
			{% endfor %}
		</ul>
		See the news <a href="/news.html">archive</a>
	</div>
	<div id="biojs-news">
		<h3>What is BioJS?</h3>

		BioJS builds a infrastructure, guidelines and tools to avoid the reinvention of the wheel in life sciences (= "Docker for Bio web components"). Our community builds modules than can be reused by anyone.

		<div id="what-is-biojs-block" class="row">
			<div class="what-is-biojs-el  glyphicon-link" id="easy-to-combine">
				Easy to <a href="http://edu.biojs.net/series/101/00_headstart.html"><b>combine</b></a>
				<div class="what-is-biojs-desc">
					<pre>require('biojs-io-clustal')</pre>
				</div>
				<div class="what-is-mobile clearfix"></div>
			</div>
			<div class="what-is-biojs-el  glyphicon-play" id="easy-to-use">
				Easy to <a href="http://edu.biojs.net/categories/playground/index.html"><b>use</b></a>
				<div class="what-is-biojs-desc">
					<pre>npm install biojs-io-clustal</pre>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-screenshot" id="easy-to-test">
				Easy to <b>test</b>
				<div class="what-is-biojs-desc">
					<pre>npm test</pre>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-fire" id="easy-to-develop">
				Easy to <a href="http://edu.biojs.net/series/101/70_gold_standard.html"><b>develop</b></a>
				<div class="what-is-biojs-desc">
					Only conventions - use your favorite tools.
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-search" id="easy-to-discover">
				Easy to <a href="http://registry.biojs.net"><b>discover</b></a>
				<div class="what-is-biojs-desc">
					<a href="http://registry.biojs.net">registry.biojs.net</a>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-home" id="easy-to-understand">
				Easy to <a href="http://edu.biojs.net"><b>understand</b></a>
				<div class="what-is-biojs-desc">
					<a href="http://edu.biojs.net">education.biojs.net</a>
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-wrench" id="easy-to-maintain">
				Easy to <b>maintain</b>
				<div class="what-is-biojs-desc">
					distributed github repositories
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-user" id="easy-to-community">
				Easy to <a href="/get_involved.html"><b>get involved</b></a>
				<div class="what-is-biojs-desc">
					Social open source community on github
				</div>
			</div>
			<div class="what-is-biojs-el  glyphicon-asterisk" id="easy-to-start">
				Easy to <a href="http://edu.biojs.net/series/101/30_package_basics.html"><b>start</b></a>
				<div class="what-is-biojs-desc">
					<pre>npm install -g slush-biojs</pre>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="container" id="showcase-container">
	<div class="row">

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.DasProteinFeatureViewer.html" class="thumbnail">
				<img class="showcase showcase-featViewer" alt="">
				<div class="caption">
					<h4 style="text-align:center">Das Protein Feature Viewer</h4>
				</div>
			</a>
		</div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.HpaSummaryFeatures.html" class="thumbnail">
				<img class="showcase showcase-hpasummary" alt="">
				<div class="caption">
					<h4 style="text-align:center">Hpa Summary Features</h4>
				</div>
			</a>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.InteractionsBundleD3.html" class="thumbnail">
				<img class="showcase showcase-intbundle" alt="">
				<div class="caption">
					<h4 style="text-align:center">Interactions Bundle D3</h4>
				</div>
			</a>
		</div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.InteractionsD3.html" class="thumbnail">
				<img class="showcase showcase-intd3" alt="">
				<div class="caption">
					<h4 style="text-align:center">Interactions D3</h4>
				</div>
			</a>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.KEGGViewer.html" class="thumbnail">
				<img class="showcase showcase-kegg" alt="">
				<div class="caption">
					<h4 style="text-align:center">KeggViewer</h4>
				</div>
			</a>
		</div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.ProteinPortafolio.html" class="thumbnail">
				<img class="showcase showcase-protport" alt="">
				<div class="caption">
					<h4 style="text-align:center">Protein Portafolio</h4>
				</div>
			</a>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.ChEMBLCompound.html" class="thumbnail">
				<img class="showcase showcase-disp" alt="">
				<div class="caption">
					<h4 style="text-align:center">ChEMBLCompound</h4>
				</div>
			</a>
		</div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.Rheaction.html" class="thumbnail">
				<img class="showcase showcase-disp2" alt="">
				<div class="caption">
					<h4 style="text-align:center">Rheaction</h4>
				</div>
			</a>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="showbox col-md-4 col-xs-6">
			<a href="http://www.ebi.ac.uk/Tools/biojs/registry/Biojs.ExpressionAtlasBaselineSummary.html" class="thumbnail">
				<img class="showcase showcase-expAtlas" alt="">
				<div class="caption">
					<h4 style="text-align:center">Expression Atlas Baseline Summary</h4>
				</div>
			</a>
		</div>

	</div>

	<h3> Services using BioJS </h3>
	<div class="row sites-using-biojs">
		<div class="col-md-3" id="sites-using-biojs4">
			<a href="http://www.predictprotein.org" target="_blank">PredictProtein</a>
		</div>
		<div class="col-md-3" id="sites-using-biojs2">
			<a href="http://www.ebi.ac.uk/gxa/home" target="_blank">Expression Atlas</a>
		</div>
		<div class="col-md-3" id="sites-using-biojs1">
			<a href="http://biomodels.net" target="_blank">BioModels</a>
		</div>
		<div class="col-md-3" id="sites-using-biojs3">
			<a href="http://www.ebi.ac.uk/metabolights/" target="_blank" >MetaboLights</a>
		</div>
	</div>
	<div id="services-appear-here"><a href="http://groups.google.com/forum/#!forum/biojs">Using BioJS and want to appear here? </a></div>

	<h3> Contributors </h3>
	<div id="contributors">

		<div class="row">

			<div class="col-xs-6 col-md-4">
				<a href="https://www.ebi.ac.uk/" target="_blank">
					<div id="contributors-embl-ebi" class="contributors-img" > </div>
				</a>
			</div>
			<div class="col-xs-6 col-md-4">
				<a href="http://www.tgac.ac.uk/" target="_blank">
					<div id="contributors-tgac" class="contributors-img" > </div>
				</a>
			</div>
			<div class="col-xs-6 col-md-4">
				<a href="http://www.openphacts.org/" target="_blank" >
					<div id="contributors-openphacts" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://www.rostlab.org" target="_blank" >
					<div id="contributors-rostlab" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://bionode.io" target="_blank" >
					<div id="contributors-bionode" class="contributors-img" > </div>
				</a>
			</div>
			<div class="col-xs-6 col-md-4">
				<a href="http://www.lbl.gov/lsd/People_&_Organization/Scientific_Staff_Directory/Lewis_Lab.html" target="_blank" >
					<div id="contributors-berkeley-lab" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://openvis.org" target="_blank" >
					<div id="contributors-openvis" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://elifesciences.org/" target="_blank" >
					<div id="contributors-elife" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://www.biochem.mpg.de/en/" target="_blank" >
					<div id="contributors-mpi-biochem" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://intermine.github.io/intermine.org/" target="_blank">
					<div id="contributors-intermine" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://cath.biochem.ucl.ac.uk/" target="_blank">
					<div id="contributors-cath-ucl" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="https://github.com/mhelvens/apinatomy" target="_blank">
					<div id="contributors-apinatomy" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-4">
				<a href="http://www.software.ac.uk" target="_blank" >
					<div id="contributors-ssi" class="contributors-img" > </div>
				</a>
			</div>

			<div class="col-xs-6 col-md-3">
				<a href="http://www.molgen.mpg.de/" target="_blank">
					<div id="contributors-mpimg" class="contributors-img" > </div>
				</a>
			</div>

		</div>

		<div id="services-appear-here"><a href="get_involved.html"> get involved and appear on this list.</a></div>
	</div>

	<!-- end awesome bootstrap carousel -->
	<h3 id="heading-get-involved">Get involved</h3>
	{% include get_involved_icons.html %}


	<!-- github activity stream: https://github.com/caseyscarborough/github-activity -->
	<!-- PROBLEM: github API only allows 50 requests per IP per hour -->

	<h3 id="heading-github-activity">Github activity</h3>
	<div id=feed style="height:300px; margin-top:20px; margin-bottom: 40px"></div>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
	<script type="text/javascript" src="//caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.js"></script>
	<script>
GitHubActivity.feed({ username: "biojs", selector: "#feed" });
	</script>

</div>
