<section>
 <div class="container">
    <div class="row mb-0">
      <div class="col l6 hiding-frame hide-on-med-and-down">
        {{! <div id="gallery-wrapper" class="gallery-wrapper">
          <canvas style="background-color: rbga(200,200,80,0.3);" width="15" height="10" id="gallery-content" class="gallery-content">
          </canvas> 
        </div> }}
        <p><img class="responsive-img" src="{{asset "/img/showcase/angularplasmid.png"}}" alt="Angularplasmid BioJS component" />
      </div>
     <div class="col l6 hide-on-med-and-down">
      <h3 class="light">The BioJS community created over 130 components for everyday's developer's use</h3>
      <p>The community is waiting for your input. Explore some of our most interesting components in our
      <a href="http://biojs.io/" target="registry">BioJS Registry</a>.</p>
    </div>
    </div>
 </div>
 <div class="row mb-0">
    <div class="col s12 fill hide-on-large-only">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img class="responsive-img" src="{{asset "/img/showcase/registry.jpg"}}"> <!-- random image -->
            <div class="caption center-align">
              <h3>Find over 130 other components in the <a href="http://biojs.io" target="devregistry">BioJS registry</a></h3>
              <h5 class="light grey-text text-lighten-3"><a href="http://biojs.io" target="devregistry">Browse the registry</a></h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>

