<ul id="dropdown-docu" class="dropdown-content">
  <li><a href="http://edu.biojs.net">Component Development</a></li>
  <li class="divider"></li>
  <li><a href="/biojs-core-documentation">Core Documentation</a></li>
</ul>
<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper biojs-black">
    <a class="brand-logo" href="/">
      <img class="col s6 main-logo" alt="BioJS logo - a registry of biological visualizations" src="{{asset "img/biojs_circle_mint_trans.png"}}" width=50 height=50>
      <p class="col s6 main-logo-title hide-on-small-only mt-0 mb-0">BioJS</p>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/starters">Getting Started</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a class="dropdown-button" href="!#" data-activates="dropdown-docu">Documentation<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="http://biojs.io">Components</a></li>
      <li><a href="/tag/news">News</a></li>
      {{! <li><a href="http://www.biojs.io">Community</a></li> }}
      {{! <li><a href="#">Best Practices</a></li> }}
      {{! <li><a href="#">About</a></li> }}
    </ul>
    <ul class="side-nav biojs-black-text" id="mobile-demo">
      <li><a href="/starters">Getting Started</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="http://edu.biojs.net">Documentation</a></li>
      <li><a href="http://www.biojs.io">Components</a></li>
      <li><a href="/tag/news">News</a></li>
      {{! <li><a href="http://www.biojs.io">Community</a></li> }}
      {{! <li><a href="#">Best Practices</a></li> }}
      {{! <li><a href="#">About</a></li> }}
    </ul>
  </div>
</nav>
</div>
