<nav>
  <div class="nav-wrapper biojs-green">
    <a class="brand-logo" href="/">
      <img class="col s6 main-logo" alt="BioJS logo - a registry of biological visualizations" src="/assets/img/biojslogo.png" width=50 height=50>
      <p class="col s6 main-logo-title mt-0 mb-0">BioJS</p>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/starters">Getting Started</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="http://edu.biojs.net">Documentation</a></li>
      <li><a href="http://www.biojs.io">Components</a></li>
      {{! <li><a href="http://www.biojs.io">Community</a></li> }}
      {{! <li><a href="#">Best Practices</a></li> }}
      {{! <li><a href="#">About</a></li> }}
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/starters">Getting Started</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="http://edu.biojs.net">Documentation</a></li>
      <li><a href="http://www.biojs.io">Components</a></li>
      {{! <li><a href="http://www.biojs.io">Community</a></li> }}
      {{! <li><a href="#">Best Practices</a></li> }}
      {{! <li><a href="#">About</a></li> }}
    </ul>
  </div>
</nav>
