<div class="row row-get-involved">
<a href="mailto:biojs@googlegroups.com" />
	<div class="col-md-2 col-xs-4">
		<img src="img/get-involved/mail.png" class="nice-image-box">
		Feel free to write us.
	</div>
</a>
<a href="http://webchat.freenode.net/?channels=biojs" />
	<div class="col-md-2 col-xs-4">
		<img src="img/get-involved/irc.png" class="nice-image-box">
		<span> Join #biojs @ freenode </span>
	</div>
</a>

<a href="https://twitter.com/BiojsLibrary" />
	<div class="col-md-2 col-xs-4">
		<img src="img/get-involved/twitter.png" class="nice-image-box">
		Follow us on Twitter
	</div>
</a>
<a href="https://plus.google.com/117617419426441799241/posts" />
	<div class="col-md-2 col-xs-4">
		<img src="img/get-involved/google.png" class="nice-image-box">
		Follow us on Google+
	</div>
</a>
<a href="https://github.com/biojs" />
	<div class="col-md-2 col-xs-4">
		<img src="img/get-involved/github.png" class="nice-image-box">
		Contribute on github
	</div>
</a>
<a href="https://gitter.im/biojs/biojs" />
	<div class="col-md-2 col-xs-4">
		<img src="img/get-involved/gitter_logo.png" class="nice-image-box">
		Open Gitter chat 
	</div>
</a>
</div>
<div class="row row-get-involved">

	<a href="mailto:biojs@googlegroups.com" />
		<div class="col-md-2 col-xs-4">
			<img src="img/get-involved/group.png" class="nice-image-box">
			Organize a meeting
		</div>
	</a>

	<a href="https://drive.google.com/a/elifesciences.org/folderview?id=0BwVhnCYdaHnGWm1idWxBdi1mTEE&usp=sharing" />
		<div class="col-md-2 col-xs-4">
			<img src="img/get-involved/drive.png" class="nice-image-box">
			Public folder 
		</div>
	</a>

	<a href="https://www.google.com/calendar/embed?src=ru95u7jektac0tihpp6c3u4u1g%40group.calendar.google.com" />
		<div class="col-md-2 col-xs-4">
			<img src="img/get-involved/plan.png" class="nice-image-box">
			Join an upcoming event 
		</div>
	</a>
	<a href="https://trello.com/b/SdfFvEIi/biojs-product-board" />
		<div class="col-md-2 col-xs-4">
			<img src="img/get-involved/map.png" class="nice-image-box">
			See our roadmap
		</div>
	</a>

	<a href="http://edu.biojs.net" />
		<div class="col-md-2 col-xs-4">
			<img src="img/get-involved/edu.png" class="nice-image-box">
			Start learning	
		</div>
	</a>
	<a href="donate.html" />
		<div class="col-md-2 col-xs-4">
			<img src="img/get-involved/donate.png" class="nice-image-box">
			Donate
		</div>
	</a>
</div>
