/* Helpers */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
h1 {
  font-size: 3.6em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2em;
}
@for $i from 0 through 12 {
  .mt-#{$i}{
    margin-top: 1.5em * $i;
  }
  .mb-#{$i}{
    margin-bottom: 1.5em * $i;
  }
  .pt-#{$i}{
    padding-top: 1.5em * $i;
  }
  .pb-#{$i}{
    padding-bottom: 1.5em * $i;
  }
  .mv-#{$i} {
    margin-left: 1.5rem * $i;
    margin-right: 1.5rem * $i;
  }
  .height-#{$i}x {
    height: 10vh * $i;
  }
  .height-fix-#{$i}x {
    height: 10em * $i;
  }
}
/* Brandpage */
.tag-brandpage h1 {
  font-size: 3.2em;
}
/*Helpers*/
.uppercase {
  text-transform: uppercase;
}
.dropshadow {
  box-shadow: 2px 2px 2px 2px #333;
}
.insetshadow {
  box-shadow: inset 0px 2px 10px 2px #333;
}
.blunt-end {
  margin-bottom: 0;
}
.signal {
  font-size: 1.6em;
}
.bg-section {
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  min-height: 500px;
}
.bg-right {
  background-position: right 0;
}
.bg-left {
  background-position: left 0;
}
.bg-center {
  background-position: center center;
}
.bg-cover {
  background-size: cover;
}
.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.75;
}
.relative {
  position: relative;
}
.text-shadow {
  text-shadow: 2px 2px 3px color('black');
  &.light {
    text-shadow: 2px 2px 3px color('white');
  }
}
.hiding-frame {
  overflow: hidden;
}
.row .col {
  &.fill {
    padding-left: 0;
    padding-right: 0;
  }
}
.fill {
  width: 100%;
}
