$black: #072212; // black
$grey-1: #161616;  // dark-grey
$grey-2: #666666; // grey
$green-1: #00A650; // light-green
$white: #FFFFFC; // white
$pink: #EB155B; // pink
$colors: (
  'dark-grey': $grey-1,
  'light-green': $green-1,
  'white': $white,
  'black': $black,
  'pink': $pink,
  'grey': $grey-2
);

@mixin vendor ($prop, $val){
  -webkit-#{$prop}: $val;
  -moz-#{$prop}: $val;
  -ms-#{$prop}: $val;
  -o-#{$prop}: $val;
  #{$prop}: $val;
}

@function color($color){
  @return map-get($colors, $color);
}

@each $color, $val in $colors {
  .biojs-#{$color} {
    background-color: $val;
  }
  .biojs-#{$color}-text {
    color: $val;
  }
}


@import 'layout';
@import 'frontpage';
@import 'github-activity';
@import 'helpers';
@import 'mediaqueries';


