/* START image */

.gsoc-image-box {
  float: left;
  border: 0 !important;
}
.nice-image-box {
  float: left;
  border: 0 !important;
  margin: 0px 15px 15px 0px;
  width: 80px;
}

/* END image */
/* START mentors */

#meet-the-mentors {
  margin-top: 20px;
}
#accordion {
  padding-left: 20px;
}
#div-project-ideas {
  padding-top: 10px;
}

.mentor-img {
  float: left;
  margin: 0px 15px 15px 0px;
  width: 100px;
}
h5 {
  clear: none;
}

#attr-opener {
    font-size: 8px;
}

/* END mentors */
/* START apply */

#apply-div h3 {
  padding-bottom: 10px;
}
#apply-div p img {
  max-width: 100px;
  height: auto;
  width: auto;
  max-height: 100px;
  border: 0 !important;
  margin: 10px 25px 15px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  /*margin: 0 auto;*/
}
#apply-div h4 + :not(img) {
  min-height: 95px;
  overflow: hidden;
}
#apply-div h4 + :not(img) + p,
#apply-div p:nth-child(2) {
  width: 125px;
  float: left;
  text-align: center;
  display: block;
  height: 100%;
  padding-top: 0px;
  margin-bottom: 5px;
}
#apply-div h4 {
  padding-top: 0px;
}

/* END apply */
/* START hr */

hr.fancy-line {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.5em 0;
  /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
hr.fancy-line:after {
  content: '';
  height: 0.5em;
  /* half the height of :before */
  top: 1px;
  /* height of hr*/
}
hr.fancy-line:before,
hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}
hr.fancy-line,
hr.fancy-line:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}
hr.fancy-line:after {
  background: #f4f4f4;
}

/* END hr */
