---
layout: default
---

<link rel="stylesheet" href="{{site.baseurl}}gsoc/css/gsoc.css" />

<div class="container">

	<h2>{{ page.title }}</h2>


	<div class="pull-right">
		<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
		<g:plusone size="medium"></g:plusone>
	</div>

	{{ page.no_adjust }}
	<div class="static-content {% if page.adjust == false %}{%else%}adj-header{%endif%}">
		{{ content }}
	</div>

	<br />

	<a class="btn btn-primary" href="{{ site.baseurl }}gsoc/{{page.gsoc}}">Back to the GSoC projects </a>
</div>
